*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    background-color: #252525;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.content {
    text-align: center;
}
.title {
    font-size: 84px;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
}

.container{
    height:100px;
    width:800px;
    border: 1px solid #fff;
    margin:0,auto;
    border-radius: 5px;
}

.container>textarea{
    resize:None;
    padding: 10px;
    width: 100%;
}

.container>button{
    width: 100%;
}

.m-t-50{
    margin-top:50px;
}

.column{
    display:flex;
    flex-flow:column;
}